@import url("https://fonts.googleapis.com/css2?family=Prata");
body {
  margin: 10em;
}
.title {
  font-family: "Prata", "Serif";
  color: black;
}
.content {
  display: flex;
  align-content: space-between;
}

.search {
  font-size: 22px;
}
