@import url("https://fonts.googleapis.com/css2?family=Prata");

.title {
  font-family: "Prata", "Serif";
  color: black;
}
/* .shape {
  border-radius: 5px;
  background-color: green;
  height: 150px;
  width: 150px;
  float: right;
} */
